HOST=0.0.0.0
PORT=8080
HOST_PORT=8080
MCP_HISTORY_SIZE=10
MCP_DASHBOARD_ENABLED=true

APP_NAME=mcp-standalone
RESOURCE_GROUP=rg-mcp-standalone
LOCATION=swedencentral
CONTAINERAPPS_ENVIRONMENT=mcp-standalone-env
INGRESS=external
